@font-face {
    font-family: 'DungGeunMo';
    src: url('fonts/DungGeunMo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* style.css */
body {
    background: linear-gradient(135deg, #1a1a2e, #16213e, #0f3460);
    color: #ffffff;
    font-family: 'DungGeunMo';
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: dream-background 10s infinite alternate;
}

body {
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 4em;
    font-family: 'DungGeunMo';
    text-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
}

#vers {
    font-size: 1em;
    font-family: 'DungGeunMo';
    color: white;
    text-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
    opacity: 0.8;
}

#instructions {
    font-size: 1.5em;
    margin-bottom: 20px;
    opacity: 0.8;
}

button {
    background-color: black;
    border: 4px solid #ffffff;
    padding: 10px 35px;
    font-size: 1.2em;
    font-family: 'DungGeunMo';
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 15px white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px #e94560;
}

@keyframes dream-background {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
