@font-face {
    font-family: 'DungGeunMo';
    src: url('fonts/DungGeunMo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* style.css */
body {
    background: linear-gradient(135deg, #1a1a2e, #16213e, #0f3460);
    color: #ffffff;
    font-family: 'DungGeunMo';
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: dream-background 10s infinite alternate;
    overflow: hidden;
}

body {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* 기본 설정 */
}

h1 {
    font-size: 4em;
    font-family: 'DungGeunMo';
    text-shadow: 0 0 30px #ffffff, 0 0 60px #ffffff;
}

#vers {
    font-size: 1em;
    font-family: 'DungGeunMo';
    color: white;
    text-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
    opacity: 0.8;
}

#instructions {
    font-size: 1.5em;
    margin-bottom: 20px;
    opacity: 0.8;
}

button {
    background-color: black;
    border: 4px solid #ffffff;
    padding: 10px 35px;
    font-size: 1.2em;
    font-family: 'DungGeunMo';
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 15px white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;
    width: 200px;
    height: 50px
}

#infoButton {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    /* 추가 수정 */
    box-sizing: border-box; /* 테두리 포함 크기 설정 */
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px #e94560;
}

@keyframes dream-background {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

/* 미디어 쿼리: 작은 화면 (모바일) */
@media (max-width: 600px) {
    h1 {
        font-size: 2.5em; /* 작은 화면에서 폰트 크기 조정 */
    }

    #vers {
        font-size: 0.7em; /* 작은 화면에서 폰트 크기 조정 */
    }

    #instructions {
        font-size: 0.9em; /* 작은 화면에서 폰트 크기 조정 */
    }

    button {
        font-size: 0.9em; /* 작은 화면에서 폰트 크기 조정 */
        padding: 8px 20px; /* 작은 화면에서 패딩 값 조정 */
        height: 35px; /* 작은 화면에서 높이 조정 */
    }
}

/* 미디어 쿼리: 중간 화면 (태블릿) */
@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 3.5em; /* 중간 화면에서 폰트 크기 조정 */
    }

    button {
        font-size: 1.1em; /* 중간 화면에서 폰트 크기 조정 */
    }
}

/* mobile test */
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
